<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Enter Title" name="title" ngModel required minlength="3" #title="ngModel">
      <mat-error *ngIf="title.invalid"> Error with Title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows=6 placeholder="Enter Content" title="content" name="content" ngModel required
        maxlength="360" #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid"> Error with Content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>
